@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --botoes-links: #3AB67E;
    --botoes-links-hover: #319869;
    --verde-escuro: #1b8052;
    --footer: #316751;
    --branco: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.default-buttons {
    background-color: var(--botoes-links);
    border: none;
    color: var(--branco);
    cursor: pointer;
    transition: background-color 0.3s;
}

.default-buttons:hover {
    background-color: var(--botoes-links-hover);
}

input, select, textarea {
    border: 1.8px solid #ddd;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    width: 50%;
    font-size: 1rem;
    transition: border 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--botoes-links-hover);
}
